.students-jobs-list{
    min-height: 70vh;
}
.students-jobs-list *{
    color:black;
    line-height: 2;
}

.filter-list{
    display: flex;
    padding:10px;
    box-shadow: 0px 0.2px 4px rgba(0,0,0,0.5);
    width: 45%;
    justify-content: space-between;
    margin:2% auto;
    padding:1% 2%;
    border-radius: 25px;
}
.filter-list select{
    border:none;
    outline:none;
    min-height: 30px; 
    font-size: 0.97rem;
}

.resume-download{
   
    background-color: #ecb833 !important;
}
.btn-excel,.resume-download, .btn-accept-job-students{
    margin:auto;
    background-color: #c36;
    color: white;
    border: none;
    padding:5px;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 10px
}

.btn-accept-job-students{
    background-color: rgb(15, 144, 15) !important;
}

.btn-download-single-resume{
    background-color: #363f8f;
    margin-left: 0px;
}

.student-jobs-list-card{
    margin-bottom: 20px;
}

/* Hide arrow controls for number input */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.students-jobs-list table{
    padding: 5px;
    width:70%;
    margin: auto;
}

.students-jobs-list td,.students-jobs-list th{
    background-color: rgba(230, 255, 254,0.8) !important;
    padding:10px; 
    border-radius: 5px;
}

.students-jobs-list th{
    background-color: #c36 !important;
    border: 1px solid white;
}



@media (max-width:500px){
    .btn-excel{
        display: block;
        margin:auto;
        margin-bottom:10px ;
    }
    .filter-list{
        width: 90%;
    }
    .filter-list select{
        font-size: 0.8rem;
    }
    .students-jobs-list table{
        width:100%
    }
    .students-jobs-list td,.students-jobs-list th{
        padding: 5px;
    }
}
